/* .page-banner {
  margin-bottom: 2rem;
} */

.page-banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: auto;
}

.page-banner-text {
  position: relative;
  width: 100vw;
  max-width: 25rem;
  top: 20rem;
  margin-bottom: 30rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  z-index: 1;
  color: #fff;
}

.page-banner-text h2 {
  font-size: 40px;
  font-weight: 700;
}
